* {
    /* box-sizing: border-box; */
}

body {
    font-family: 'georgia', serif;
    display: flex;
    justify-content: center;
}

#game-area {
    /* background-color: #f1f1f1; */
    background-color: #9b9b7a;

    padding: 10px;
    width: 98vh;

}

button {
    margin: 10px 2px;
    background-color: #d08c60;
}

button:hover {
    filter: brightness(110%);
}

.reload {
    margin: 5px;
}

#play-area {
    display: flex;
    position: relative;
}

#left {
    width: 58vh;
}


#board {
    width: 54vh;
    height: 51vh;
    background-color: #d08c60;
    /* background-color: #1b263b; */
    /* background-color: #f1f1f1; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;
    margin: 1vh 1vh 1vh 0;
    /* border: solid 5px #d08c60; */
    box-shadow: 1px 1px black;
    border: solid 1px black;
}

.square {
    width: 9vh;
    height: 9vh;
    border: solid 1px black;
    margin: 0 5px;
    background-color: #f1f1f1;
    box-shadow: 1px 1px black;
    box-sizing: border-box;
}

.piece {
    width: 7vh;
    height: 7vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    /* top: 325px; */
    /* left: 330px; */
    border: solid 1px black;
    /* base is 5px 10px */
    /* over 1 is 10px => 90px */
    /* same with down 1 */
    /* over 4 is 332 -- so off by 0.5  horizontal */
    /* off by 0.5 other way vertical... */
    /* for now gonna use 80px */
    /* prob better way, append to square itself */
    /* making bit smaller so not as bad */
    font-size: 48px;
    text-align: center;
    line-height: 100%;
}

.panel-stone:hover {
    filter: brightness(120%);
}


.active-sage:hover {
    border: solid 2px brown;
    /* background-color: grey; */
}

.selected {
    border: solid 2px red;
}

.adjacent {
    border: dotted 2px red;
}

.sage {
    /* transition: .4s linear; */
}











#panel {
    width: 40vh;
    height: 76vh;
    background-color: #9b9b7a;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    /* margin: 0 1vh; */
    box-shadow: 1px 1px black;
    border: solid 1px black;
}

.move-group {
    display: flex;
    align-items: center;
}

.hand, .moves, .scoreboard, .hand-text {
    /* width: 40vh; */
    height: 5vh;
    background-color: #797d62;
    position: relative;
    /* padding: 5px; */
    margin: 0 1vh;
    padding: 0 1vh;
}

.hand {
    width: 40vh;
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
    align-items: center;
    border: 1px solid black;
}


/* .hand p {
    width: 100%;
} */


.moves, .hand, .hand-text, .move-count {
    color: #a03333;
}

.moves, .hand-text {
    height: 4vh;
    /* line-height: 100%; */
    font-size: 18px;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 1px 1px black;
}

.move-count {
    height: 6vh;
    width: 6vh;
    font-size: 36px;
    color: black;
    background-color: #797d62;
    text-align: center;
    line-height: 100%;
    border: solid 2px black;
}

.active {
    /* background-color: #f1dca7; */
    background-color: #efefd0;
}

.expand:hover {
    transform: scale(1.05);
}
    
    
    /* 
    #metric {
        width: 415px;
        height: 5vh;
        background-color: #c1c1c1;
        color: red;
        font-size: 24px;
    } */

#announcements {
    width: 420px;
    height: 13vh;
    background-color: #415a77;
    color: #ffcb69;
    font-size: 42px;
    padding: 5px;
    text-align: center;
    /* justify-content: center; */
    text-transform: uppercase;
    border: solid 1px black;
}
    
.emily {
    width: 54vh;
    height: 7vh;
    margin: 1vh 0;
    background-color: #1b263b;
    box-shadow: 1px 1px black;
    border: solid 1px black;

}