body {
}

button {
    margin: 10px 2px;
}

#play-area {
    display: flex;
    position: relative;
}

#board {
    width: 55vh;
    height: 52vh;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 9vh;
    height: 9vh;
    border: solid 1px black;
    margin: 0 5px;
}

#panel {
    width: 40vh;
    height: 80vh;
    background-color: #00a100;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.hand, .moves, .scoreboard {
    width: 40vh;
    height: 5vh;
    background-color: #818191;
    position: relative;
    padding: 5px;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
}

.moves, .hand {
    color: #a03333;
}

.moves {
    height: 10vh;
}

.piece {
    width: 7vh;
    height: 7vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    /* top: 325px; */
    /* left: 330px; */
    border: solid 1px black;
    /* base is 5px 10px */
    /* over 1 is 10px => 90px */
    /* same with down 1 */
    /* over 4 is 332 -- so off by 0.5  horizontal */
    /* off by 0.5 other way vertical... */
    /* for now gonna use 80px */
    /* prob better way, append to square itself */
    /* making bit smaller so not as bad */
    font-size: 48px;
    text-align: center;
    line-height: 100%;
    text-
}

#announcements {
    width: 420px;
    height: 10vh;
    background-color: #0000a1;
    color: red;
    font-size: 24px;
    padding: 5px;
}

#metric {
    width: 418px;
    height: 5vh;
    background-color: #c1c1c1;
    color: red;
    font-size: 24px;
}

