body {
}

#play-area {
    display: flex;
}

#board {
    width: 55vh;
    height: 60vh;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 9vh;
    height: 9vh;
    border: solid 1px black;
    margin: 5px 5px;
}

#panel {
    width: 35vh;
    height: 60vh;
    background-color: #00a100;
}

